* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/* Firefox Fixes */

@-moz-document url-prefix() {
    /* https://gist.github.com/joaocunha/6273016 */
    select {
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: "";
    }
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

select {
    background: transparent;
}

button::-moz-focus-inner {
    border: 0;
}

/* END - Firefox Fixes */

body {
    line-height: 1.4;
}

.container {
    padding: 1rem;
    max-width: var(--page-max-width);
    margin: 0 auto;
    position: relative;
}

.grid {
    display: grid;
    grid-gap: 1.25rem;
}

.grid-dynamic {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.grid-inline {
    grid-template-columns: 1fr;
}

.grid-twoxtwo {
    grid-template-columns: 4fr 1fr;
}

.grid-form {
    grid-template-columns: 4fr 1fr;
}

.title {
    text-align: center;
    color: var(--txt-light);
}

.page-header {
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0px 0px 10px 10px;
    width: calc(var(--page-max-width) + 10%);
    background-color: var(--col-primary);
}

.card-header .title {
    font-size: 1.25rem;
}

.card {
    margin: 1rem;
    border: none;
    border-radius: 10px;
    background-color: #f6f5f4;
    transition: all var(--animation-speed) ease;
}

.card:hover {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.card-header {
    border-radius: 10px 10px 0px 0px;
    padding: 0.5rem;
    width: 100%;
    background-color: var(--col-primary);
}

.card-body {
    border-radius: 0px 0px 10px 10px;
    padding: 1.75rem;
    border: solid var(--border);
    border-width: 0 1px 1px 1px;
}

input, textarea, select, .button {
    border-radius: 5px;
}

input, select, textarea {
    padding: 1rem;
    border: 1px solid var(--border);
    transition: all var(--animation-speed) ease;
    background-color: #ffffff;
}

textarea {
    width: 100%;
    resize: none;
}

input:hover, select:hover, textarea:hover {
    border: 1px solid var(--col-primary);
}

input:focus, select:focus {
    border: 1px solid var(--col-primary);
    box-shadow: 1px 3px 16px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: var(--txt-light);
    font-weight: bold;
}

.button {
    padding: 1rem;
    background-color: var(--col-primary-dark);
    border: none;
    color: var(--txt-light);
    cursor: pointer;
    outline: 0;
    text-align: center;
}

.button:hover {
    box-shadow: 1px 3px 16px rgba(0, 0, 0, 0.1);
    font-weight: 700;
}

.button span {
    position: relative;
    transition: var(--animation-speed);
}

.button span:after {
    content: '+';
    position: absolute;
    opacity: 0;
    right: 20px;
    transition: var(--animation-speed);
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

th, td, tr {
    text-align: left;
    padding: 1rem;
}

tbody tr {
    transition: all var(--animation-speed) ease-in-out;
}

.history-table {
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    border: solid var(--border);
    border-width: 0 1px 1px 1px;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: var(--border);
}

::-webkit-scrollbar-thumb {
    background: var(--col-primary);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Mobile Device Tweaks */

@media screen and (max-width: 800px) {
    .page-header, .card, .card-header, .card-body {
        border-radius: 0px !important;
    }
    .page-title {
        width: 100%;
    }
    .container {
        padding: 0;
    }
    .card {
        margin: 0;
    }
    .form {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}