.referenceTool {
  padding: 5%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.widthMax {
  width: 100%;
}
.widthFifty {
  width: 50%;
}
.widthSeventyFive {
  width: 75%;
}