body {
    font-family: 'Open Sans', sans-serif;
    padding: 2%;
    background-color: #f1f1f1;
}
input, select, textarea {
    border: 1px solid #336abd;
    border-radius: 4px;
    padding: 1rem;
    background-color: #ffffff;
}
button, .linkButton {
    border: 1px solid #336abd;
    border-radius: 4px;
    padding: 1rem;
    background-color: #3e64b4;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}
button:hover {
    border: 1px solid #ffffff;
    background-color: slategrey;
    transition: 0.2s;
}
.linkButton:hover {
    border: 1px solid #ffffff;
    background-color: #35AC84;
    transition: 0.2s;
}
h1.title{
    font-weight: lighter;
}
.page {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
}
.attributes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
}
.date {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 9fr 1fr;
}
.controls {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 3fr 2fr 2fr 1fr;
}
.output {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 8fr 2fr;
}