:root {
	--primary: #2A80F7;
    --primary-dark: #1775f6;
    --confirm: #35AC84;
	--text-dark: #444444;
	--text-light: #666666;
}
html {
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.6;
    color: var(--text-dark);
    font-family: 'Roboto Condensed', sans-serif;
}
button {
    font-family: 'Roboto Condensed', sans-serif;
}
input, select, textarea {
    border: 1px solid var(--primary);
    padding: 1rem;
    background-color: #ffffff;
}
button, .linkButton {
    text-decoration: none;
    text-align: center;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    padding: 1rem;
    color: #ffffff;
    transition: 0.2s;
}
button:hover, .linkButton:hover {
    border: 1px solid white;
    background-color: var(--confirm);
    cursor: pointer;
}
h1.title{
    font-weight: lighter;
}
.page {
    margin: 0 auto; /* Center the element */   
    padding: 2rem;
    max-width: 960px;
    box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
    transition: all .3s ease;
    /* Grid Settings */
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
}
.page:hover {
    box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.2);
}
.attributes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
}
.date {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 9fr 1fr;
}
.controls {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.output {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 8fr 2fr;
}