:root {
    /* General Values */
    --page-max-width: 1000px; /* Maximum page width */
    --animation-speed: 0.3s;  /* Animate speed in seconds */
    /* Colours */
    --col-primary: #3584e4;
    --col-primary-dark: #1c71d8;
    --txt-dark: black;
    --txt-light: white;
    --border: #ddd;
}